
	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="panel panel-default">
					<h4>Not a member? Sign Up for BabyFace today!</h4>
					<div class="input-group" id="log">
						<form method="POST" action="/api/newuser">
  						<input type="text" class="form-control" placeholder="Pick a Username" name="username">
  						<input type="text" class="form-control" placeholder="Set a Password" name="password">
						<button class="btn btn-default" type="submit">Sign Up</button>
						<a href="/">Back to Login</a>
						</form>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
		</div>
	</div>